<%- include ("includes/header") %>

      <div class="container-fluid pb-0">
         <div class="video-block section-padding">
            <div class="row" id="videos-section">

               <% videos.forEach(function (video) { %>
                  <div class="col-xl-3 col-sm-6 mb-3">
                     <div class="video-card">
                        <div class="video-card-image">
                           <a class="play-icon" href="content/watch?v=<%= video.watch %>"><i class="fas fa-play-circle"></i></a>
                           <a href="content/watch?v=<%= video.watch %>">
                              <img class="thumbnail" src="<%= video.thumbnail %>" style="width: 270px; height: 169px;">
                           </a>
                        </div>
                        <div class="video-card-body">
                           <div class="video-title">
                              <a href="content/watch?v=<%= video.watch %>"><%= video.title %></a>
                           </div>
                           <div class="video-page text-success">
                              
                           </div>
                           <div class="video-view">
                              <%= video.views %> views &nbsp;<i class="fas fa-calendar-alt"></i> <%
                                 let createdAt = new Date(video.createdAt);
                                 let date = createdAt.getDate() + "";
                              %>
                           </div>
                        </div>
                     </div>
                  </div>
               <% }) %>

            </div>
         </div>
      </div>

<%- include ("includes/footer") %>